@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@500;600&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease; }

#bodyHome .t-d-none, #bodyPortfolio .t-d-none, #bodyProjects .t-d-none, #bodyAbout .t-d-none, #bodyContact .t-d-none {
  text-decoration: none;
  list-style-type: none;
  list-style: none; }

.body-viewport {
  min-height: 100vh;
  max-width: 100%; }

.hr-solid {
  height: 3px;
  width: 50vw;
  vertical-align: middle;
  background-color: #f4efe8;
  border: 1px solid #f4efe8;
  margin: 5px 0;
  opacity: 1; }

.head-pages {
  color: #f4efe8;
  text-align: center;
  font-size: 7vw;
  padding: 1vh 2vw;
  letter-spacing: 5px; }

.regular-text {
  color: #3d4726;
  font-size: 3vw;
  margin: 5vw 0; }

.body-bg-color {
  background-color: #f4efe8; }

.h-img {
  width: 90vw;
  margin: 2vh 0; }

.v-img {
  width: 40vw;
  margin: 3vh 10px 3vh 10px; }

.row-section-align {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  align-content: center; }

.column-section-align {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  align-content: center; }

#bodyHome footer, #bodyPortfolio footer, #bodyProjects footer, #bodyAbout footer, #bodyContact footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  justify-content: space-evenly;
  height: 40vh;
  width: 100%;
  background-color: #4b2830; }
  #bodyHome footer .logo-nl, #bodyPortfolio footer .logo-nl, #bodyProjects footer .logo-nl, #bodyAbout footer .logo-nl, #bodyContact footer .logo-nl {
    width: 15vw; }
  #bodyHome footer .icons-rrss-container, #bodyPortfolio footer .icons-rrss-container, #bodyProjects footer .icons-rrss-container, #bodyAbout footer .icons-rrss-container, #bodyContact footer .icons-rrss-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    justify-content: space-between;
    width: 40vw; }
    #bodyHome footer .icons-rrss-container a, #bodyPortfolio footer .icons-rrss-container a, #bodyProjects footer .icons-rrss-container a, #bodyAbout footer .icons-rrss-container a, #bodyContact footer .icons-rrss-container a {
      fill: #f4efe8; }
      #bodyHome footer .icons-rrss-container a:hover, #bodyPortfolio footer .icons-rrss-container a:hover, #bodyProjects footer .icons-rrss-container a:hover, #bodyAbout footer .icons-rrss-container a:hover, #bodyContact footer .icons-rrss-container a:hover {
        fill: #c9a803;
        transition: all 0.01s ease; }

#bodyHome .copyright, #bodyPortfolio .copyright, #bodyProjects .copyright, #bodyAbout .copyright, #bodyContact .copyright {
  color: #f4efe8;
  font-size: 2.5vw; }

@media screen and (min-width: 768px) {
  #bodyHome footer, #bodyPortfolio footer, #bodyProjects footer, #bodyAbout footer, #bodyContact footer {
    height: 50vh; }
    #bodyHome footer .logo-nl, #bodyPortfolio footer .logo-nl, #bodyProjects footer .logo-nl, #bodyAbout footer .logo-nl, #bodyContact footer .logo-nl {
      width: 10vw; }
    #bodyHome footer .icons-rrss-container, #bodyPortfolio footer .icons-rrss-container, #bodyProjects footer .icons-rrss-container, #bodyAbout footer .icons-rrss-container, #bodyContact footer .icons-rrss-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      justify-content: space-between;
      width: 20vw; }
      #bodyHome footer .icons-rrss-container .footer-icon, #bodyPortfolio footer .icons-rrss-container .footer-icon, #bodyProjects footer .icons-rrss-container .footer-icon, #bodyAbout footer .icons-rrss-container .footer-icon, #bodyContact footer .icons-rrss-container .footer-icon {
        fill: #f4efe8;
        transition: all 0.01s ease; }
        #bodyHome footer .icons-rrss-container .footer-icon:hover, #bodyPortfolio footer .icons-rrss-container .footer-icon:hover, #bodyProjects footer .icons-rrss-container .footer-icon:hover, #bodyAbout footer .icons-rrss-container .footer-icon:hover, #bodyContact footer .icons-rrss-container .footer-icon:hover {
          fill: #c9a803;
          transition: all 0.01s ease; }
    #bodyHome footer .copyright, #bodyPortfolio footer .copyright, #bodyProjects footer .copyright, #bodyAbout footer .copyright, #bodyContact footer .copyright {
      font-size: 1.5vw; } }

#bodyHome,
#bodyPortfolio,
#bodyProjects,
#bodyAbout,
#bodyContact {
  width: 100%; }
  #bodyHome .desktop-nav,
  #bodyPortfolio .desktop-nav,
  #bodyProjects .desktop-nav,
  #bodyAbout .desktop-nav,
  #bodyContact .desktop-nav {
    display: none; }
  #bodyHome .mobile-icons-container,
  #bodyPortfolio .mobile-icons-container,
  #bodyProjects .mobile-icons-container,
  #bodyAbout .mobile-icons-container,
  #bodyContact .mobile-icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    justify-content: center; }
    #bodyHome .mobile-icons-container .mobile-icons,
    #bodyPortfolio .mobile-icons-container .mobile-icons,
    #bodyProjects .mobile-icons-container .mobile-icons,
    #bodyAbout .mobile-icons-container .mobile-icons,
    #bodyContact .mobile-icons-container .mobile-icons {
      position: fixed;
      top: 80px;
      right: 30px; }
      #bodyHome .mobile-icons-container .mobile-icons a,
      #bodyPortfolio .mobile-icons-container .mobile-icons a,
      #bodyProjects .mobile-icons-container .mobile-icons a,
      #bodyAbout .mobile-icons-container .mobile-icons a,
      #bodyContact .mobile-icons-container .mobile-icons a {
        fill: #f4efe8; }
    #bodyHome .mobile-icons-container #mobileBtn,
    #bodyPortfolio .mobile-icons-container #mobileBtn,
    #bodyProjects .mobile-icons-container #mobileBtn,
    #bodyAbout .mobile-icons-container #mobileBtn,
    #bodyContact .mobile-icons-container #mobileBtn {
      position: fixed;
      top: 20px;
      right: 30px;
      border: none;
      fill: #f4efe8; }
    #bodyHome .mobile-icons-container .menu-title,
    #bodyHome .mobile-icons-container .nav-link,
    #bodyPortfolio .mobile-icons-container .menu-title,
    #bodyPortfolio .mobile-icons-container .nav-link,
    #bodyProjects .mobile-icons-container .menu-title,
    #bodyProjects .mobile-icons-container .nav-link,
    #bodyAbout .mobile-icons-container .menu-title,
    #bodyAbout .mobile-icons-container .nav-link,
    #bodyContact .mobile-icons-container .menu-title,
    #bodyContact .mobile-icons-container .nav-link {
      color: #3d4726; }
    #bodyHome .mobile-icons-container .offcanvas-body,
    #bodyPortfolio .mobile-icons-container .offcanvas-body,
    #bodyProjects .mobile-icons-container .offcanvas-body,
    #bodyAbout .mobile-icons-container .offcanvas-body,
    #bodyContact .mobile-icons-container .offcanvas-body {
      background-color: rgba(93, 138, 102, 0.7); }
  @media (min-width: 768px) {
    #bodyHome header .mobile-icons-container,
    #bodyPortfolio header .mobile-icons-container,
    #bodyProjects header .mobile-icons-container,
    #bodyAbout header .mobile-icons-container,
    #bodyContact header .mobile-icons-container {
      display: none; }
    #bodyHome header .desktop-nav,
    #bodyPortfolio header .desktop-nav,
    #bodyProjects header .desktop-nav,
    #bodyAbout header .desktop-nav,
    #bodyContact header .desktop-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 10vh;
      background: rgba(93, 138, 102, 0.7); }
      #bodyHome header .desktop-nav .logo,
      #bodyPortfolio header .desktop-nav .logo,
      #bodyProjects header .desktop-nav .logo,
      #bodyAbout header .desktop-nav .logo,
      #bodyContact header .desktop-nav .logo {
        display: block;
        width: 4vw; }
      #bodyHome header .desktop-nav img,
      #bodyPortfolio header .desktop-nav img,
      #bodyProjects header .desktop-nav img,
      #bodyAbout header .desktop-nav img,
      #bodyContact header .desktop-nav img {
        width: 6vw;
        height: auto;
        padding: 0 1vw; }
      #bodyHome header .desktop-nav .menu,
      #bodyPortfolio header .desktop-nav .menu,
      #bodyProjects header .desktop-nav .menu,
      #bodyAbout header .desktop-nav .menu,
      #bodyContact header .desktop-nav .menu {
        display: block;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        place-items: center;
        align-content: center;
        padding: 0;
        margin: 0; }
        #bodyHome header .desktop-nav .menu li,
        #bodyPortfolio header .desktop-nav .menu li,
        #bodyProjects header .desktop-nav .menu li,
        #bodyAbout header .desktop-nav .menu li,
        #bodyContact header .desktop-nav .menu li {
          list-style: none;
          text-decoration: none; }
          #bodyHome header .desktop-nav .menu li a,
          #bodyPortfolio header .desktop-nav .menu li a,
          #bodyProjects header .desktop-nav .menu li a,
          #bodyAbout header .desktop-nav .menu li a,
          #bodyContact header .desktop-nav .menu li a {
            padding: 0 10px;
            color: #f4efe8; }
            #bodyHome header .desktop-nav .menu li a:hover,
            #bodyPortfolio header .desktop-nav .menu li a:hover,
            #bodyProjects header .desktop-nav .menu li a:hover,
            #bodyAbout header .desktop-nav .menu li a:hover,
            #bodyContact header .desktop-nav .menu li a:hover {
              color: #c9a803; }
      #bodyHome header .desktop-nav .iconsContainer,
      #bodyPortfolio header .desktop-nav .iconsContainer,
      #bodyProjects header .desktop-nav .iconsContainer,
      #bodyAbout header .desktop-nav .iconsContainer,
      #bodyContact header .desktop-nav .iconsContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        place-items: center;
        padding: 0;
        margin: 0; }
        #bodyHome header .desktop-nav .iconsContainer a,
        #bodyPortfolio header .desktop-nav .iconsContainer a,
        #bodyProjects header .desktop-nav .iconsContainer a,
        #bodyAbout header .desktop-nav .iconsContainer a,
        #bodyContact header .desktop-nav .iconsContainer a {
          padding: 0 4px;
          font-size: 1vw;
          fill: #f4efe8; } }

.vertical-image-portfolio-extended {
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.horizontal-image-portfolio-extended {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.tiny-image-portfolio-extended {
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.row-w100-container-extended {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  width: 100%; }

.column-w100-container-extended {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%; }

#bodyAbout .head-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(/images/nature-yellow-flower2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#bodyAbout .img-about {
  width: 50vw;
  margin: 10vh 0;
  box-shadow: 8px 7px 14px 2px rgba(148, 124, 124, 0.82); }

#bodyAbout .medium-centered-text {
  color: #3d4726;
  text-align: center;
  width: 45vw;
  font-size: 3vw; }

#bodyAbout .titles {
  color: #3d4726;
  text-align: center;
  font-size: 7vw;
  margin: 10vh 0 0; }

#bodyAbout .subtitles {
  color: #3d4726;
  text-align: center;
  width: 3vw;
  width: 60vw;
  margin: 10vh 0 0; }

#bodyAbout .medium-centered-text {
  font-size: 4vw;
  color: #3d4726;
  margin: 10vh 0 0;
  text-align: center;
  width: 70vw; }

#bodyAbout .centered-text {
  margin: 10vh 0;
  color: #3d4726;
  width: 60vw;
  text-align: center;
  font-size: 4vw; }

#bodyAbout .thin-centered-text {
  margin: 0 0 10vh;
  width: 50vw;
  font-size: 4vw;
  color: #3d4726;
  text-align: center; }

#bodyAbout .hr-dark {
  opacity: 1;
  color: #3d4726;
  width: 50vw;
  margin-bottom: 10vh; }

#bodyAbout .paragraphs {
  color: #3d4726;
  width: 70vw;
  text-align: left;
  margin-bottom: 3vh;
  font-size: 3.5vw;
  letter-spacing: 1px; }

#bodyAbout .shadowed-img {
  width: 90vw;
  height: 40vh;
  background-image: url(/images/musa-nath.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10vh;
  box-shadow: 8px 7px 14px 2px rgba(148, 124, 124, 0.82); }

#bodyAbout .about-btn {
  height: 8vh;
  width: 40vw;
  background-color: #4b2830;
  margin-bottom: 10vh; }
  #bodyAbout .about-btn a {
    font-size: 3vw;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: #f4efe8; }

@media screen and (min-width: 768px) {
  #bodyAbout .titles {
    margin-top: 40vh;
    font-size: 4vw;
    letter-spacing: 5px; }
  #bodyAbout .img-description-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    align-content: center;
    margin-top: 10vh; }
    #bodyAbout .img-description-container .img-about {
      width: 40vw; }
    #bodyAbout .img-description-container .medium-centered-text {
      width: 30vw;
      font-size: 1.5vw;
      text-align: center;
      margin: 0 0 0 5vw; }
  #bodyAbout .hr-dark {
    width: 30vw; }
  #bodyAbout .subtitles {
    margin-top: 10vh;
    font-size: 3vw; }
  #bodyAbout .paragraphs {
    width: 50vw;
    font-size: 1.5vw; }
  #bodyAbout .shadowed-img {
    margin: 10vh 0;
    height: 70vh;
    width: 70vw; }
  #bodyAbout .centered-text {
    font-size: 2vw;
    width: 40vw;
    color: #c9a803; }
  #bodyAbout .thin-centered-text {
    width: 30vw;
    font-size: 1.5vw; }
  #bodyAbout .about-btn {
    width: 10vw;
    height: 8vh;
    transition: all 600ms; }
    #bodyAbout .about-btn a {
      font-size: 1vw;
      padding: 0;
      margin: 0; }
    #bodyAbout .about-btn:hover {
      background-color: #f4efe8;
      transition: all 600ms; }
      #bodyAbout .about-btn:hover a {
        color: #4b2830; } }

#bodyHome {
  background-color: #f4efe8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  width: 100%; }
  #bodyHome .home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(/images/home-red-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  #bodyHome .border {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    justify-content: space-evenly;
    width: 40vw;
    height: 40vh;
    border: 5px solid #f4efe8;
    border-radius: 5px;
    padding: 50px; }
    #bodyHome .border h1 {
      font-family: 'Nunito', sans-serif;
      font-size: 5vw;
      color: #f4efe8;
      text-align: center;
      font-weight: 200;
      letter-spacing: 2px; }
    #bodyHome .border h2 {
      font-family: 'Quicksand', sans-serif;
      color: #f4efe8;
      font-size: 3vw;
      text-align: center;
      font-weight: 200; }
  #bodyHome #menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    align-items: stretch;
    width: 100%; }
    #bodyHome #menu .card-portfolio {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-portfolio.png); }
    #bodyHome #menu .card-projects {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-projects.png); }
    #bodyHome #menu .card-about {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-about.png); }
    #bodyHome #menu .card-contact {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-contact.png); }
  @media screen and (min-width: 768px) {
    #bodyHome .border {
      width: 30vw;
      height: 50vh; }
      #bodyHome .border h1 {
        font-size: 3vw;
        font-weight: 100; }
      #bodyHome .border h2 {
        font-size: 2vw;
        font-weight: 100; }
      #bodyHome .border .btn-down {
        font-size: 2vw; }
    #bodyHome #menu {
      flex-flow: column wrap; }
      #bodyHome #menu .card-portfolio {
        background-position: bottom; }
        #bodyHome #menu .card-portfolio a {
          font-size: 4vw; }
          #bodyHome #menu .card-portfolio a .solid {
            width: 30vw; }
      #bodyHome #menu .card-projects {
        background-position: bottom;
        background-size: cover; }
        #bodyHome #menu .card-projects a {
          font-size: 4vw; }
          #bodyHome #menu .card-projects a .solid {
            width: 30vw; }
      #bodyHome #menu .card-about {
        background-image: url(/images/nature-leaves.png);
        background-position: bottom;
        background-size: cover; }
        #bodyHome #menu .card-about a {
          font-size: 4vw; }
          #bodyHome #menu .card-about a .solid {
            width: 30vw; }
      #bodyHome #menu .card-contact {
        background-position: center;
        background-size: cover; }
        #bodyHome #menu .card-contact a {
          font-size: 4vw; }
          #bodyHome #menu .card-contact a .solid {
            width: 30vw; } }

#bodyPortfolio {
  width: 100%; }
  #bodyPortfolio .head-portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f4efe8;
    background-image: url(/images/head-portfolio.png); }
  #bodyPortfolio .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px; }
  #bodyPortfolio .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 3px; }
    #bodyPortfolio .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%; }
      #bodyPortfolio .column img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.1); }
  #bodyPortfolio .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(93, 138, 102, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    opacity: 0;
    visibility: hidden; }
    #bodyPortfolio .overlay .slideshow {
      width: 90%;
      height: 90%;
      background-color: rgba(244, 239, 232, 0.7);
      color: #000000;
      position: relative;
      display: flex;
      justify-content: center; }
      #bodyPortfolio .overlay .slideshow img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        opacity: 1; }
      #bodyPortfolio .overlay .slideshow .btn-close {
        position: absolute;
        top: -15px;
        right: -15px;
        font-size: 15px;
        background-color: #f4efe8;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        padding: 5px;
        transition: all 0.2s ease; }
        #bodyPortfolio .overlay .slideshow .btn-close:hover {
          transform: scale(1.2);
          cursor: pointer; }
      #bodyPortfolio .overlay .slideshow .overlay-buttons {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        position: absolute;
        top: 50%;
        cursor: pointer; }
      #bodyPortfolio .overlay .slideshow .previous {
        left: 20px; }
      #bodyPortfolio .overlay .slideshow .next {
        right: 20px; }
  @media (max-width: 900px) {
    #bodyPortfolio .head-portfolio h1 {
      font-size: 3vw;
      letter-spacing: 10px; }
      #bodyPortfolio .head-portfolio h1 .solid {
        width: 40vw; }
    #bodyPortfolio .column {
      flex: 50%;
      max-width: 50%; }
    #bodyPortfolio .overlay-buttons {
      font-size: 55px; }
    #bodyPortfolio .previous {
      left: 50px; }
    #bodyPortfolio .next {
      right: 5px; }
    #bodyPortfolio .slideshow {
      width: 95%; } }
  @media (max-width: 600px) {
    #bodyPortfolio .column {
      flex: 100%;
      max-width: 100%; } }

#bodyProjects {
  max-width: 100%;
  background-color: #f4efe8;
  max-width: 100%; }
  #bodyProjects .head-projects {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f4efe8;
    background-image: url(/images/musa-cayena-model.png); }
  #bodyProjects .musa-header {
    width: 100%;
    margin: 10vh 0; }
  #bodyProjects .highlighted-text {
    font-size: 4vw;
    color: #c9a803;
    font-weight: 600;
    text-align: center;
    width: 40vw; }
  #bodyProjects .medium-text {
    width: 40vw;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 3vh; }
  #bodyProjects .projects-text {
    margin: 10vh 0;
    text-align: center;
    width: 80vw;
    font-size: 4vw; }
  #bodyProjects .img-logo-musa {
    margin: 10vh 0;
    width: 20vw; }
  #bodyProjects .link-to-musa {
    width: 80vw;
    background-color: #f4efe8;
    border: 2px solid #4b2830;
    margin-bottom: 10vh;
    color: #4b2830; }
  @media screen and (min-width: 768px) {
    #bodyProjects .musa-header {
      width: 70vw; }
    #bodyProjects .projects-text {
      font-size: 2vw; }
    #bodyProjects .highlighted-text {
      width: 40vw;
      font-size: 3vw; }
    #bodyProjects .medium-text {
      width: 40vw;
      font-size: 3vw; }
    #bodyProjects .h-img {
      width: 50vw; }
    #bodyProjects .v-img {
      width: 30vw; }
    #bodyProjects .img-logo-musa {
      width: 20vw; }
    #bodyProjects .link-to-musa {
      width: 50vw;
      transition: all ease-in-out 250ms; }
      #bodyProjects .link-to-musa:hover {
        color: #f4efe8;
        background-color: #4b2830;
        border: 2px solid #f4efe8;
        transition: all ease-in-out 250ms; } }
