@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@500;600&display=swap");
#bodyPrueba .logo, #bodyPrueba .menu {
  display: none; }

@media screen and (min-width: 768px) {
  #bodyPrueba header {
    width: 100%;
    height: 100vh;
    background-image: url(/images/home-red-flower.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    #bodyPrueba header nav {
      width: 100%;
      height: 10vh;
      background-color: rgba(93, 138, 102, 0.6);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 1vw; }
      #bodyPrueba header nav img {
        width: 5.5vw;
        height: auto;
        padding: 0 1vw; }
      #bodyPrueba header nav .menu {
        display: flex; }
        #bodyPrueba header nav .menu li {
          list-style: none;
          text-decoration: none;
          margin: 1vw; }
          #bodyPrueba header nav .menu li a {
            color: #f4efe8; }
            #bodyPrueba header nav .menu li a:hover {
              color: #c9a803; }
      #bodyPrueba header nav .iconsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        #bodyPrueba header nav .iconsContainer .icons {
          margin: 0 10px; }
          #bodyPrueba header nav .iconsContainer .icons a {
            font-size: 1.2vw;
            color: #f4efe8; }
            #bodyPrueba header nav .iconsContainer .icons a:hover {
              color: #c9a803; } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease; }

#bodyHome, #bodyPortfolio, #bodyProjects, #bodyAbout, #bodyContact {
  min-height: 100vh;
  width: 100%; }
  #bodyHome footer, #bodyPortfolio footer, #bodyProjects footer, #bodyAbout footer, #bodyContact footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 100%;
    background-color: #4b2830; }
    #bodyHome footer .logo-nl, #bodyPortfolio footer .logo-nl, #bodyProjects footer .logo-nl, #bodyAbout footer .logo-nl, #bodyContact footer .logo-nl {
      width: 10vw;
      padding: 1vw 0; }
    #bodyHome footer .icons-rrss-container, #bodyPortfolio footer .icons-rrss-container, #bodyProjects footer .icons-rrss-container, #bodyAbout footer .icons-rrss-container, #bodyContact footer .icons-rrss-container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      justify-content: space-between;
      width: 25vw; }
      #bodyHome footer .icons-rrss-container a, #bodyPortfolio footer .icons-rrss-container a, #bodyProjects footer .icons-rrss-container a, #bodyAbout footer .icons-rrss-container a, #bodyContact footer .icons-rrss-container a {
        font-size: 3vw;
        color: #f4efe8; }
        #bodyHome footer .icons-rrss-container a:hover, #bodyPortfolio footer .icons-rrss-container a:hover, #bodyProjects footer .icons-rrss-container a:hover, #bodyAbout footer .icons-rrss-container a:hover, #bodyContact footer .icons-rrss-container a:hover {
          color: #c9a803;
          transition: all 0.01s ease; }
  #bodyHome .copyright, #bodyPortfolio .copyright, #bodyProjects .copyright, #bodyAbout .copyright, #bodyContact .copyright {
    color: #f4efe8;
    font-size: 2vw; }
  @media screen and (min-width: 768px) {
    #bodyHome footer .logo-nl, #bodyPortfolio footer .logo-nl, #bodyProjects footer .logo-nl, #bodyAbout footer .logo-nl, #bodyContact footer .logo-nl {
      width: 5vw; }
    #bodyHome footer .icons-rrss-container, #bodyPortfolio footer .icons-rrss-container, #bodyProjects footer .icons-rrss-container, #bodyAbout footer .icons-rrss-container, #bodyContact footer .icons-rrss-container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      justify-content: space-between;
      width: 13vw; }
      #bodyHome footer .icons-rrss-container .footer-icon, #bodyPortfolio footer .icons-rrss-container .footer-icon, #bodyProjects footer .icons-rrss-container .footer-icon, #bodyAbout footer .icons-rrss-container .footer-icon, #bodyContact footer .icons-rrss-container .footer-icon {
        font-size: 1.5vw;
        transition: all 0.01s ease; }
        #bodyHome footer .icons-rrss-container .footer-icon:hover, #bodyPortfolio footer .icons-rrss-container .footer-icon:hover, #bodyProjects footer .icons-rrss-container .footer-icon:hover, #bodyAbout footer .icons-rrss-container .footer-icon:hover, #bodyContact footer .icons-rrss-container .footer-icon:hover {
          color: #c9a803;
          transition: all 0.01s ease; }
    #bodyHome footer .copyright, #bodyPortfolio footer .copyright, #bodyProjects footer .copyright, #bodyAbout footer .copyright, #bodyContact footer .copyright {
      font-size: 1vw; } }

#bodyHome, #bodyPortfolio, #bodyProjects, #bodyAbout, #bodyContact {
  width: 100%; }
  #bodyHome .menu, #bodyHome .logo, #bodyPortfolio .menu, #bodyPortfolio .logo, #bodyProjects .menu, #bodyProjects .logo, #bodyAbout .menu, #bodyAbout .logo, #bodyContact .menu, #bodyContact .logo {
    display: none; }
  #bodyHome nav, #bodyPortfolio nav, #bodyProjects nav, #bodyAbout nav, #bodyContact nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: center;
    width: 8vw;
    height: auto;
    padding: 3vh 0;
    position: fixed;
    right: 0;
    top: 3vh; }
    #bodyHome nav .iconsContainer, #bodyPortfolio nav .iconsContainer, #bodyProjects nav .iconsContainer, #bodyAbout nav .iconsContainer, #bodyContact nav .iconsContainer {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      justify-content: center; }
      #bodyHome nav .iconsContainer .icons, #bodyPortfolio nav .iconsContainer .icons, #bodyProjects nav .iconsContainer .icons, #bodyAbout nav .iconsContainer .icons, #bodyContact nav .iconsContainer .icons {
        text-align: center;
        font-size: 3vw;
        color: #f4efe8;
        padding: 5px 0; }
        #bodyHome nav .iconsContainer .icons a, #bodyPortfolio nav .iconsContainer .icons a, #bodyProjects nav .iconsContainer .icons a, #bodyAbout nav .iconsContainer .icons a, #bodyContact nav .iconsContainer .icons a {
          color: #f4efe8; }
    #bodyHome nav .mobileMenubtn, #bodyPortfolio nav .mobileMenubtn, #bodyProjects nav .mobileMenubtn, #bodyAbout nav .mobileMenubtn, #bodyContact nav .mobileMenubtn {
      color: #f4efe8;
      font-size: 4vw;
      padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    #bodyHome header .logo, #bodyHome header .menu, #bodyPortfolio header .logo, #bodyPortfolio header .menu, #bodyProjects header .logo, #bodyProjects header .menu, #bodyAbout header .logo, #bodyAbout header .menu, #bodyContact header .logo, #bodyContact header .menu {
      display: block; }
    #bodyHome header nav, #bodyPortfolio header nav, #bodyProjects header nav, #bodyAbout header nav, #bodyContact header nav {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      justify-content: space-around;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 10vh;
      background: rgba(93, 138, 102, 0.5); }
      #bodyHome header nav img, #bodyPortfolio header nav img, #bodyProjects header nav img, #bodyAbout header nav img, #bodyContact header nav img {
        width: 6vw;
        height: auto;
        padding: 0 1vw; }
      #bodyHome header nav .menu, #bodyPortfolio header nav .menu, #bodyProjects header nav .menu, #bodyAbout header nav .menu, #bodyContact header nav .menu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        place-items: center; }
        #bodyHome header nav .menu li, #bodyPortfolio header nav .menu li, #bodyProjects header nav .menu li, #bodyAbout header nav .menu li, #bodyContact header nav .menu li {
          list-style: none;
          text-decoration: none;
          margin: 1vw; }
          #bodyHome header nav .menu li a, #bodyPortfolio header nav .menu li a, #bodyProjects header nav .menu li a, #bodyAbout header nav .menu li a, #bodyContact header nav .menu li a {
            color: #f4efe8; }
            #bodyHome header nav .menu li a:hover, #bodyPortfolio header nav .menu li a:hover, #bodyProjects header nav .menu li a:hover, #bodyAbout header nav .menu li a:hover, #bodyContact header nav .menu li a:hover {
              color: #c9a803; }
      #bodyHome header nav .iconsContainer, #bodyPortfolio header nav .iconsContainer, #bodyProjects header nav .iconsContainer, #bodyAbout header nav .iconsContainer, #bodyContact header nav .iconsContainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        place-items: center;
        justify-content: center; }
        #bodyHome header nav .iconsContainer .icons, #bodyPortfolio header nav .iconsContainer .icons, #bodyProjects header nav .iconsContainer .icons, #bodyAbout header nav .iconsContainer .icons, #bodyContact header nav .iconsContainer .icons {
          margin: 0 10px;
          padding-bottom: 20px; }
          #bodyHome header nav .iconsContainer .icons a, #bodyPortfolio header nav .iconsContainer .icons a, #bodyProjects header nav .iconsContainer .icons a, #bodyAbout header nav .iconsContainer .icons a, #bodyContact header nav .iconsContainer .icons a {
            font-size: 1.5vw;
            color: #f4efe8; }
            #bodyHome header nav .iconsContainer .icons a:hover, #bodyPortfolio header nav .iconsContainer .icons a:hover, #bodyProjects header nav .iconsContainer .icons a:hover, #bodyAbout header nav .iconsContainer .icons a:hover, #bodyContact header nav .iconsContainer .icons a:hover {
              color: #c9a803;
              transition: all 0.5s ease; }
      #bodyHome header nav .mobileMenubtn, #bodyPortfolio header nav .mobileMenubtn, #bodyProjects header nav .mobileMenubtn, #bodyAbout header nav .mobileMenubtn, #bodyContact header nav .mobileMenubtn {
        display: none; } }

.vertical-image-portfolio-extended, #bodyPortfolio main .row-container1 .img-ba-sky, #bodyPortfolio main .row-container1 .img-costanera-butterfly, #bodyPortfolio main .row-container2 .ba-fac, #bodyPortfolio main .row-container4 .mid-row-container2, #bodyPortfolio main .row-container4 .delta-model, #bodyPortfolio main .row-container9 .delta-cheiru, #bodyPortfolio main .row-container9 .nature-costanera-flower, #bodyPortfolio main .row-container10 .nature-si-orange-flower, #bodyPortfolio main .row-container10 .nature-si-purple-white, #bodyPortfolio main .row-container12 .nature-yellow-flower2, #bodyPortfolio main .row-container12 .nature-costanera-fruit, #bodyPortfolio main .row-container13 .menu-about, #bodyPortfolio main .row-container13 .delta-tree, #bodyPortfolio main .row-container14 .delta-musgo {
  width: 50vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.horizontal-image-portfolio-extended, #bodyPortfolio main .row-container3 .ba-flores, #bodyPortfolio main .row-container3 .ba-recoleta, #bodyPortfolio main .row-container5 .ba-fac, #bodyPortfolio main .row-container5 .ba-memory-fadu, #bodyPortfolio main .row-container8 .pink-sunset, #bodyPortfolio main .row-container8 .delta-little-bridge, #bodyPortfolio main .row-container11 .nature-delta-pink-flower, #bodyPortfolio main .row-container11 .delta-hidden-house, #bodyPortfolio main .row-container11 .ba-memory, #bodyPortfolio main .delta-red-flowers, #bodyPortfolio main .nature-leaves {
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.tiny-image-portfolio-extended, #bodyPortfolio main .row-container2 .mid-row-container .delta-cayena, #bodyPortfolio main .row-container2 .mid-row-container .nature-purple-flower, #bodyPortfolio main .row-container4 .mid-row-container2 .delta-ship-inside, #bodyPortfolio main .row-container4 .mid-row-container2 .ba-si-bird, #bodyPortfolio main .row-container6 .delta-away, #bodyPortfolio main .row-container6 .nature-mush, #bodyPortfolio main .row-container7 .ba-day-moon, #bodyPortfolio main .row-container7 .delta-purple, #bodyPortfolio main .row-container14 .mid-row-container2 .menu-contact, #bodyPortfolio main .row-container14 .mid-row-container2 .menu-portfolio {
  width: 50vw;
  height: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.row-w100-container-extended, #bodyPortfolio main .row-container1, #bodyPortfolio main .row-container2, #bodyPortfolio main .row-container4, #bodyPortfolio main .row-container5, #bodyPortfolio main .row-container6, #bodyPortfolio main .row-container7, #bodyPortfolio main .row-container9, #bodyPortfolio main .row-container10, #bodyPortfolio main .row-container12, #bodyPortfolio main .row-container13, #bodyPortfolio main .row-container14 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  place-items: center;
  width: 100%; }

.column-w100-container-extended, #bodyPortfolio main .row-container3, #bodyPortfolio main .row-container8, #bodyPortfolio main .row-container11 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%; }

#bodyHome {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%; }
  #bodyHome .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(/images/home-red-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  #bodyHome .border {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: space-evenly;
    width: 45vw;
    height: 40vh;
    border: 5px solid #f4efe8;
    border-radius: 5px;
    padding: 50px; }
    #bodyHome .border h1 {
      font-family: 'Nunito', sans-serif;
      font-size: 5vw;
      color: #f4efe8;
      text-align: center;
      font-weight: 200;
      letter-spacing: 2px; }
    #bodyHome .border h2 {
      font-family: 'Quicksand', sans-serif;
      color: #f4efe8;
      font-size: 3vw;
      text-align: center;
      font-weight: 200;
      padding: 3vh;
      kerning: auto; }
    #bodyHome .border .btn-down {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      justify-content: center;
      color: #f4efe8;
      font-size: 5vw;
      font-weight: 100;
      padding: 1vh; }
  #bodyHome #menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    align-items: stretch;
    width: 100%; }
    #bodyHome #menu .card-portfolio {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-portfolio.png); }
      #bodyHome #menu .card-portfolio a {
        color: #f4efe8;
        text-align: center;
        font-weight: 100;
        font-size: 7vw;
        padding: 1vh 2vw;
        letter-spacing: 5px; }
        #bodyHome #menu .card-portfolio a .solid {
          height: 3px;
          width: 50vw;
          vertical-align: middle;
          background-color: #f4efe8;
          border: 1px solid #f4efe8;
          margin: 5px 0; }
    #bodyHome #menu .card-projects {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-projects.png); }
      #bodyHome #menu .card-projects a {
        color: #f4efe8;
        text-align: center;
        font-weight: 100;
        font-size: 7vw;
        padding: 1vh 2vw;
        letter-spacing: 5px; }
        #bodyHome #menu .card-projects a .solid {
          height: 3px;
          width: 50vw;
          vertical-align: middle;
          background-color: #f4efe8;
          border: 1px solid #f4efe8;
          margin: 5px 0; }
    #bodyHome #menu .card-about {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-about.png); }
      #bodyHome #menu .card-about a {
        color: #f4efe8;
        text-align: center;
        font-weight: 100;
        font-size: 7vw;
        padding: 1vh 2vw;
        letter-spacing: 5px; }
        #bodyHome #menu .card-about a .solid {
          height: 3px;
          width: 50vw;
          vertical-align: middle;
          background-color: #f4efe8;
          border: 1px solid #f4efe8;
          margin: 5px 0; }
    #bodyHome #menu .card-contact {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      place-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/menu-contact.png); }
      #bodyHome #menu .card-contact a {
        color: #f4efe8;
        text-align: center;
        font-weight: 100;
        font-size: 7vw;
        padding: 1vh 2vw;
        letter-spacing: 5px; }
        #bodyHome #menu .card-contact a .solid {
          height: 3px;
          width: 50vw;
          vertical-align: middle;
          background-color: #f4efe8;
          border: 1px solid #f4efe8;
          margin: 5px 0; }
  @media screen and (min-width: 768px) {
    #bodyHome .border {
      width: 30vw;
      height: 50vh; }
      #bodyHome .border h1 {
        font-size: 3vw;
        font-weight: 100; }
      #bodyHome .border h2 {
        font-size: 2vw;
        font-weight: 100; }
      #bodyHome .border .btn-down {
        font-size: 2vw; }
    #bodyHome #menu {
      flex-flow: column wrap; }
      #bodyHome #menu .card-portfolio {
        background-position: bottom; }
        #bodyHome #menu .card-portfolio a {
          font-size: 4vw; }
          #bodyHome #menu .card-portfolio a .solid {
            width: 30vw; }
      #bodyHome #menu .card-projects {
        background-position: bottom;
        background-size: cover; }
        #bodyHome #menu .card-projects a {
          font-size: 4vw; }
          #bodyHome #menu .card-projects a .solid {
            width: 30vw; }
      #bodyHome #menu .card-about {
        background-image: url(/images/nature-leaves.png);
        background-position: bottom;
        background-size: cover; }
        #bodyHome #menu .card-about a {
          font-size: 4vw; }
          #bodyHome #menu .card-about a .solid {
            width: 30vw; }
      #bodyHome #menu .card-contact {
        background-position: center;
        background-size: cover; }
        #bodyHome #menu .card-contact a {
          font-size: 4vw; }
          #bodyHome #menu .card-contact a .solid {
            width: 30vw; } }

#bodyPortfolio {
  width: 100%;
  min-height: 100vh; }
  #bodyPortfolio .head-portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    justify-content: center;
    background-image: url(/images/head-portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f4efe8; }
    #bodyPortfolio .head-portfolio h1 {
      color: #f4efe8;
      text-align: center;
      font-weight: 100;
      font-size: 7vw;
      padding: 1vh 2vw;
      letter-spacing: 5px; }
    #bodyPortfolio .head-portfolio .solid {
      height: 3px;
      width: 50vw;
      vertical-align: middle;
      background-color: #f4efe8;
      border: 1px solid #f4efe8;
      margin: 5px 0; }
  #bodyPortfolio main {
    width: 100%; }
    #bodyPortfolio main .row-container1 .img-ba-sky {
      background-image: url(/images/ba-sky.png); }
    #bodyPortfolio main .row-container1 .img-costanera-butterfly {
      background-image: url(/images/nature-costanera-butterfly.png); }
    #bodyPortfolio main .row-container2 .ba-fac {
      background-image: url(/images/ba-fac.png); }
    #bodyPortfolio main .row-container2 .mid-row-container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      width: 50vw; }
      #bodyPortfolio main .row-container2 .mid-row-container .delta-cayena {
        background-image: url(/images/delta-cayena.png); }
      #bodyPortfolio main .row-container2 .mid-row-container .nature-purple-flower {
        background-image: url(/images/nature-purple-flower.png); }
    #bodyPortfolio main .row-container3 .ba-flores {
      background-image: url(/images/ba-flores.png); }
    #bodyPortfolio main .row-container3 .ba-recoleta {
      background-image: url(/images/nature-dragonfly.png); }
    #bodyPortfolio main .row-container4 .mid-row-container2 .delta-ship-inside {
      background-image: url(/images/delta-ship-inside.png); }
    #bodyPortfolio main .row-container4 .mid-row-container2 .ba-si-bird {
      background-image: url(/images/ba-si-bird.png); }
    #bodyPortfolio main .row-container4 .delta-model {
      background-image: url(/images/delta-model.png); }
    #bodyPortfolio main .row-container5 .ba-fac {
      background-image: url(/images/ba-recoleta.png); }
    #bodyPortfolio main .row-container5 .ba-memory-fadu {
      background-image: url(/images/ba-memory-fadu.png); }
    #bodyPortfolio main .row-container6 .delta-away {
      background-image: url(/images/delta-away.png); }
    #bodyPortfolio main .row-container6 .nature-mush {
      background-image: url(/images/nature-mush.png); }
    #bodyPortfolio main .row-container7 .ba-day-moon {
      background-image: url(/images/ba-day-moon.png); }
    #bodyPortfolio main .row-container7 .delta-purple {
      background-image: url(/images/delta-purple.png); }
    #bodyPortfolio main .row-container8 .pink-sunset {
      background-image: url(/images/ba-pink-sunset.png); }
    #bodyPortfolio main .row-container8 .delta-little-bridge {
      background-image: url(/images/delta-little-bridge.png); }
    #bodyPortfolio main .row-container9 .delta-cheiru {
      background-image: url(/images/delta-cheiru.png); }
    #bodyPortfolio main .row-container9 .nature-costanera-flower {
      background-image: url(/images/nature-costanera-flower.png); }
    #bodyPortfolio main .row-container10 .nature-si-orange-flower {
      background-image: url(/images/nature-si-orange-flower.png); }
    #bodyPortfolio main .row-container10 .nature-si-purple-white {
      background-image: url(/images/nature-si-purple-white.png); }
    #bodyPortfolio main .row-container11 .nature-delta-pink-flower {
      background-image: url(/images/nature-delta-pink-flower.png); }
    #bodyPortfolio main .row-container11 .delta-hidden-house {
      background-image: url(/images/delta-hidden-house.png); }
    #bodyPortfolio main .row-container11 .ba-memory {
      background-image: url(/images/ba-memory.png); }
    #bodyPortfolio main .row-container12 .nature-yellow-flower2 {
      background-image: url(/images/nature-yellow-flower2.png); }
    #bodyPortfolio main .row-container12 .nature-costanera-fruit {
      background-image: url(/images/nature-costanera-fruit.png); }
    #bodyPortfolio main .row-container13 .menu-about {
      background-image: url(/images/menu-about.png); }
    #bodyPortfolio main .row-container13 .delta-tree {
      background-image: url(/images/delta-tree.png); }
    #bodyPortfolio main .delta-red-flowers {
      background-image: url(/images/delta-red-flowers.png); }
    #bodyPortfolio main .row-container14 .mid-row-container2 {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      width: 50vw; }
      #bodyPortfolio main .row-container14 .mid-row-container2 .menu-contact {
        background-image: url(/images/menu-contact.png); }
      #bodyPortfolio main .row-container14 .mid-row-container2 .menu-portfolio {
        background-image: url(/images/menu-portfolio.png); }
    #bodyPortfolio main .row-container14 .delta-musgo {
      background-image: url(/images/delta-musgo.png); }
    #bodyPortfolio main .nature-leaves {
      background-image: url(/images/nature-leaves.png); }
