#bodyHome,
#bodyPortfolio,
#bodyProjects,
#bodyAbout,
#bodyContact {
  .about-btn,
  .btn-submit, .link-to-musa {
    @include flexcolumn;
    background-color: $footerBg;
    width: $w20 + $w5;
    height: $h5;
    margin-bottom: 20vh;
    border: none;
    outline: none;
    font-size: $w3;
    a {
      font-size: $w3;
      color: $bgAndFont;
    }
    &:hover {
      border: 1px solid $footerBg;
      background-color: $bgAndFont;
      transition: all 600ms;
      a {
        color: $footerBg;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .about-btn,
    .btn-submit, .link-to-musa {
      width: $w5;
      transition: all 600ms;
      background-color: $footerBg;
      a {
        font-size: $w1;
      }
    }
  }
}
