.body-viewport {
  min-height: $h100;
  max-width: $w100;
}
.hr-solid {
  height: 3px;
  vertical-align: middle;
  background-color: $bgAndFont;
  border: 1px solid $bgAndFont;
  margin: 5px 0;
  opacity: 1;
}
.head-pages {
  color: $bgAndFont;
  text-align: center;
  font-size: 7vw;
  padding: 1vh 2vw;
  letter-spacing: 5px;
  text-shadow: 4px 2px 7px rgba(0, 0, 0, 0.58);
}

.regular-text {
  color: $fontColor;
  font-size: $w3;
  margin: $w5 0;
}

.body-bg-color {
  background-color: $bgAndFont;
}

.h-img {
  width: 90vw;
  margin: 2vh 0;
}
.v-img {
  width: $w40;
  margin: $h3 10px $h3 10px;
}

.row-section-align {
  @include flexrow;
  align-content: center;
}

.column-section-align {
  @include flexcolumn;
  align-content: center;
}

