$w100: 100%;
$w50: 50vw;
$w40: 40vw;
$w30: 30vw;
$w20: 20vw;
$w10: 10vw;
$w5: 5vw;
$w4: 4vw;
$w3: 3vw;
$w2: 2vw;
$w1_5: 1.5vw;
$w1: 1vw;
$h100: 100vh;
$h50: 50vh;
$h70: 70vh;
$h40: 40vh;
$h30: 30vh;
$h25: 25vh;
$h20: 20vh;
$h10: 10vh;
$h5: 5vh;
$h3: 3vh;
