#bodyHome{
    background-color: $bgAndFont;
    @include flexrow;
    width: $w100;
    .home{
        @include flexrow;
        justify-content: center;
        width: $w100;
        height: $h100;
        background-image: url(/images/home-red-flower.png);
        @include bg-fixed;
    }
    .border{
        @include flexrow;
        justify-content: space-evenly;
        width: $w40;
        height: $h40;
        border: 5px solid $bgAndFont;
        border-radius: 5px;
        padding: 50px;
        h1{
            font-family: 'Nunito', sans-serif;
            font-size: $w5;
            color: $bgAndFont;
            text-align: center;
            font-weight: 200;
            letter-spacing: 2px;
        }
        h2{
            font-family: 'Quicksand', sans-serif;
            color: $bgAndFont;
            font-size: $w3;
            text-align: center;
            font-weight: 200;
        }
    }
    #menu{
        @include flexcolumn;
        align-items: stretch;
        width: $w100;
        .card-portfolio{
            @include menuStyle;
            background-image: url(/images/menu-portfolio.png);
        }
        .card-projects{
            @include menuStyle;
            background-image: url(/images/menu-projects.png);
        }
        .card-about{
            @include menuStyle;
            background-image: url(/images/menu-about.png);
        }
        .card-contact{
            @include menuStyle;
            background-image: url(/images/menu-contact.png);
        }
    }

    @media screen and (min-width: 768px){
        .border{
            width: $w20;
            height: $h50;
            h1{
                font-size: $w3;
                font-weight: 100;
            }
            h2{
                font-size: $w2;
                font-weight: 100;
            }
            .btn-down{
                font-size: $w2;
            }
        }
        #menu{
            flex-flow: column wrap;
            .card-portfolio{
                background-position: bottom;
                a{
                    font-size: $w4;
                    &:hover{
                        color: $bgAndFont;
                    }
                    .hr-solid{
                        width: $w30;
                    }
                }
            }
            .card-projects{
                background-position: bottom;
                background-size: cover;
                a{
                    font-size: $w4;
                    &:hover{
                        color: $bgAndFont;
                    }
                    .hr-solid{
                        width: $w30;
                    }
                }
            }
            .card-about{
                background-image: url(/images/nature-leaves.png);
                background-position: bottom;
                background-size: cover;
                a{
                    font-size: $w4;
                    &:hover{
                        color: $bgAndFont;
                    }
                    .hr-solid{
                        width: $w30;
                    }
                }
            }
            .card-contact{
                background-position: center;
                background-size: cover;
                a{
                    font-size: $w4;
                    &:hover{
                        color: $bgAndFont;
                    }
                    .hr-solid{
                        width: $w30;
                    }
                }
            }
        }
    }
}
