#bodyPortfolio{
    width: $w100;
    min-height: $h100;
    .head-portfolio{
        height: $h100;
        width: $w100;
        @include flexcolumn;
        justify-content: center;
        background-image: url(/images/head-portfolio.png);
        @include bg-fixed;
        background-position: center;
        color: $bgAndFont;
        h1{
            @include menuLinkStyle;
        }
        .solid{
            @include sectionNameLineStyle;
        }
    }
    main{
        width: $w100;
        .row-container1{
            @extend .row-w100-container-extended;
            .img-ba-sky{
                @extend .vertical-image-portfolio-extended; 
                background-image: url(/images/ba-sky.png);
            }
            .img-costanera-butterfly{
                @extend .vertical-image-portfolio-extended;
                background-image: url(/images/nature-costanera-butterfly.png);
            }
        }
        .row-container2{
            @extend .row-w100-container-extended; 
            .ba-fac{
                @extend .vertical-image-portfolio-extended;
                background-image: url(/images/ba-fac.png);
            }
            .mid-row-container{
                @include flexcolumn;
                width: $w50;
                .delta-cayena{
                    @extend .tiny-image-portfolio-extended;
                    background-image: url(/images/delta-cayena.png);
                }
                .nature-purple-flower{
                    @extend .tiny-image-portfolio-extended;
                    background-image: url(/images/nature-purple-flower.png);
                }
            }
        }
        .row-container3-4{
            @extend .column-w100-container-extended;
            .ba-flores{
                @extend .horizontal-image-portfolio-extended;
                background-image: url(/images/ba-flores.png);
            }
            .ba-recoleta{
                @extend .horizontal-image-portfolio-extended;
                background-image: url(/images/ba-recoleta.png);
            }
        }
        .row-container5{
            @extend .row-w100-container-extended;
            .mid-row-container2{
                @extend .vertical-image-portfolio-extended;
                .delta-ship-inside{
                    @extend .tiny-image-portfolio-extended;
                    background-image: url(/images/delta-ship-inside.png);
                }
                .ba-si-bird{
                    @extend .tiny-image-portfolio-extended;
                    background-image: url(/images/ba-si-bird.png);
                }
            }
            .delta-model{
                @extend .vertical-image-portfolio-extended;
                background-image: url(/images/delta-model.png);
            }
        }
        .row-container6{
            @extend .row-w100-container-extended;
            .delta-away{
                @extend .tiny-image-portfolio-extended;
                background-image: url(/images/delta-away.png);
            }
            .nature-mush{
                @extend .tiny-image-portfolio-extended;
                background-image: url(/images/nature-mush.png);
            }
        }
        .row-container7{
            @extend .row-w100-container-extended;
            .ba-day-moon{
                @extend .tiny-image-portfolio-extended;
                background-image: url(/images/ba-day-moon.png);
            }
            .delta-purple{
                @extend .tiny-image-portfolio-extended;
                background-image: url(/images/delta-purple.png);
            }
        }
    }
}