#bodyPortfolio{
    width: $w100;
    min-height: $h100;
    .head-portfolio{
        height: $h100;
        width: $w100;
        @include flexcolumn;
        justify-content: center;
        background-image: url(/images/head-portfolio.png);
        @include bg-fixed;
        background-position: center;
        color: $bgAndFont;
        h1{
            @include menuLinkStyle;
        }
        .solid{
            @include sectionNameLineStyle;
        }
    }
    main{
        width: $w100;
        
    }

    /* MEDIA QUERIES DESKTOP VIEW */
    @media screen and (min-width: 768px){
        .head-portfolio{
            h1{
                font-size: $w5;
                letter-spacing: 10px;
                .solid{
                    width: $w50 - $w10;
                }
            }
        }
        main{
            max-width: $w100;
            .image-container{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(9, 40vh);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                .img-portfolio{
                    height: $h40;
                }
                .ba-sky{
                    grid-area: 1 / 1 / 2 / 2;
                    @include bg-cover;
                    background-image: url(/images/ba-sky.png);
                }
                .costanera-butterfly{
                    grid-area: 1 / 2 / 2 / 3;
                    @include bg-cover;
                    background-image: url(/images/nature-costanera-butterfly.png);
                }
                .ba-fac{
                    grid-area: 1 / 3 / 2 / 4;
                    @include bg-cover;
                    background-image: url(/images/ba-fac.png)
                }
                .delta-cayena{
                    grid-area: 1 / 4 / 2 / 5;
                    @include bg-cover;
                    background-image: url(/images/delta-cayena.png);
                }
                .nature-purple-flower{
                }
                .ba-flores{

                }
                .nature-dragonfly{

                }
                .delta-ship-inside{

                }
                .ba-si-bird{

                }
                .delta.model{

                }
                .ba-recoleta{

                }
                .ba-memory-fadu{

                }
            }
        }
    }
}