#bodyProjects {
  max-width: $w100;
  background-color: $bgAndFont;
  max-width: $w100;
  .head-projects {
    @include head-page;
    background-image: url(/images/musa-cayena-model.png);
    h1 {
      font-size: $w5 + $w2;
      letter-spacing: 10px;
      .solid {
        width: $w50 + $w20;
        box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.58);
      }
    }
  }
  .musa-header {
    width: $w100;
    margin: $h10 0;
  }
  .highlighted-text {
    font-size: $w4;
    color: $highlightColor;
    font-weight: 600;
    text-align: center;
    width: $w40;
  }
  .medium-text {
    width: $w40;
    font-size: $w3 + 0.5vw;
    text-align: center;
    margin-top: $h3;
  }
  .projects-text {
    margin: $h10 0;
    text-align: center;
    width: $w50 + $w30;
    font-size: $w4;
  }
  .img-logo-musa {
    margin: $h10 0;
    width: $w20;
  }

  @media screen and (min-width: 768px) {
    .head-projects {
      h1 {
        font-size: $w3;
        .solid {
          width: $w30;
        }
      }
    }
    .musa-header {
      width: $w50 + $w10;
    }
    .projects-text {
      font-size: $w2;
      width: $w50 + $w10;
    }
    .highlighted-text {
      width: $w30;
      font-size: $w2;
      margin-left: $w3;
    }
    .medium-text {
      width: $w30;
      font-size: $w2;
      margin-left: $w3;
    }
    .h-img {
      width: $w50;
    }
    .v-img {
      width: $w30;
    }
    .img-logo-musa {
      width: $w10;
    }
  }
}
