.vertical-image-portfolio-extended{
    width: $w50;
    @include bg-cover;
}
.horizontal-image-portfolio-extended{
    width: $w100;
    @include bg-cover;
}

.tiny-image-portfolio-extended{
    width: $w50;
    @include bg-cover;
}

.row-w100-container-extended{
    @include flexrow;
    width: $w100;
}

.column-w100-container-extended{
    @include flexcolumn;
    width: $w100;
}