#bodyHome, #bodyPortfolio, #bodyProjects, #bodyAbout, #bodyContact{
  footer{
    @include flexcolumn;
    justify-content: space-evenly;
    height: $h40;
    width: $w100;
    background-color: $footerBg;
    .logo-nl{
      width: $w10 + $w5;
    }
    .icons-rrss-container{
      @include flexrow;
      justify-content: space-between;
      width: $w40;
        a{
          fill: $bgAndFont;
          &:hover{
            fill: $highlightColor;
            transition: all 0.01s ease;
          }
        }
      }
    }
    .copyright{
      color: $bgAndFont;
      font-size: 2.5vw;
    }

    @media screen and (min-width: 768px){
      footer{
        height: $h50;
        .logo-nl{
          width: $w5 + $w2;
        }
        .icons-rrss-container{
          @include flexrow;
          justify-content: space-between;
          width: $w20;
          .footer-icon{
            fill: $bgAndFont;
            transition: all 0.01s ease;
            &:hover{
              fill: $highlightColor;
              transition: all 0.01s ease;
            }
          }
        }
        .copyright{
          font-size: $w1;
          text-shadow: 4px 2px 7px rgba(0,0,0,0.58);
        }
      }
    }
  }