#bodyHome, #bodyPortfolio, #bodyProjects, #bodyAbout, #bodyContact{
min-height: $h100; 
width: $w100;
  footer{
    @include flexcolumn;
    justify-content: space-evenly;
    height: $h30;
    width: $w100;
    background-color: $footerBg;
    .logo-nl{
      width: $w10;
      padding: $w1 0;
    }
    .icons-rrss-container{
      @include flexrow;
      justify-content: space-between;
      width: $w20 + $w5;
        a{
          font-size: $w3;
          color: $bgAndFont;
          &:hover{
            color: $highlightColor;
            transition: all 0.01s ease;
          }
        }
      }
    }
    .copyright{
      color: $bgAndFont;
      font-size: $w3 - $w1;
    }

    @media screen and (min-width: 768px){
      footer{
        .logo-nl{
          width: $w5;
        }
        .icons-rrss-container{
          @include flexrow;
          justify-content: space-between;
          width: $w10 + $w3;
          .footer-icon{
            font-size: $w1*1.5;
            transition: all 0.01s ease;
            &:hover{
              color: $highlightColor;
              transition: all 0.01s ease;
            }
          }
        }
        .copyright{
          font-size: $w1;
        }
      }
    }
  }