#bodyHome, #bodyPortfolio, #bodyProjects, #bodyAbout, #bodyContact{
    width: 100%;
    .menu, .logo{
        display: none;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 300px;
        // height: $h100;
        // background-color: $highlightColor;
        // @include flexcolumn;
        // justify-content: center;
        // transition: all 0.5s ease;
        // transform: translateX(-100%);
        // &:active{
        //     transform: translateX(0);
        // }
        // li{
        //     margin: 15px 0;
        // }
    }
    nav{
        @include flexcolumn;
        justify-content: center;
        width: 8vw;
        height: auto;
        padding: $h3 0;
        position: fixed;
        right: 0;
        top: $h3;
        .iconsContainer{
            @include flexcolumn;
            justify-content: center;
            .icons{
                text-align: center;
                font-size: $w3;
                color: $bgAndFont;
                padding: 5px 0 ;
                a{
                    color: $bgAndFont;
                }
            }
        }
        .mobileMenubtn{
            color: $bgAndFont;
            font-size: $w3 + $w1;
            padding-bottom: 20px;
        }
    }



    @media screen and (min-width: 768px){
        header{
            .logo, .menu{
                display: block;
            }
            nav{
                @include flexrow;
                justify-content: space-around;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 10vh;
                background: $headerBg;
                img{
                 width: $w3*2;
                 height: auto;
                 padding: 0 $w1;
                }
                .menu{
                    @include flexrow;
                    li{
                        list-style: none;
                        text-decoration: none;
                        margin: $w1;
                        a{
                         color: $bgAndFont;
                            &:hover{
                                color: $highlightColor;
                            }
                         }
                    }
                }
                .iconsContainer{
                    @include flexrow;
                    justify-content: center;
                    .icons{
                        margin: 0 10px;
                        padding-bottom: 20px;
                        a{
                            font-size: $w1 + 0.2vw;
                            color: $bgAndFont;
                            &:hover{
                                color: $highlightColor;
                                transition: all 0.5s ease;
                            }
                        }
                    }
                }
                .mobileMenubtn{
                    display: none;
                }
            }
        }
    } 
}
