#bodyHome,
#bodyPortfolio,
#bodyProjects,
#bodyAbout,
#bodyContact {
  width: $w100;
  .desktop-nav {
    display: none;
  }
  .mobile-icons-container {
    @include flexrow;
    justify-content: center;
    .mobile-icons {
      position: fixed;
      top: 80px;
      right: 30px;
      z-index: 1000;
      a {
        fill: $bgAndFont;
      }
    }
    #mobileBtn {
      position: fixed;
      top: 20px;
      right: 30px;
      border: none;
      fill: $bgAndFont;
      z-index: 1000;
    }
    .menu-title,
    .nav-link {
      color: $fontColor;
    }
    .offcanvas-body {
      background-color: $headerBg;
    }
  }

  @media (min-width: 768px) {
    header {
      .mobile-icons-container {
        display: none;
      }
      .desktop-nav {
        @include flexrow;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: $w100;
        height: $h10;
        background: $headerBg;
        z-index: 1000;
        .logo {
          display: block;
        }
        img {
          width: $w20 - $w5;
          height: auto;
          padding: 0 $w1;
        }
        .menu {
          display: block;
          @include flexrow;
          align-content: center;
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            text-decoration: none;
            a {
              padding: 0 10px;
              color: $bgAndFont;
              text-shadow: 4px 2px 7px rgba(0,0,0,0.58);
              &:hover {
                color: $footerBg;
                font-weight: 800;
              }
            }
          }
        }
        .iconsContainer {
          @include flexrow;
          padding: 0;
          margin: 0;
          a {
            padding: 0 4px;
            font-size: $w1;
            fill: $bgAndFont;
          }
        }
      }
    }
  }
}
