#bodyHome, #bodyPortfolio, #bodyProjects, #bodyAbout, #bodyContact {
  width: 100%;
  .menu, .logo, .desktop-nav {
    display: none;
  }
  .mobile-icons-container{
    @include flexrow;
    justify-content: center;
    .mobile-icons{
      position: fixed;
      top: 80px;
      right: 27px;
      a{
        color: $bgAndFont;
        width: $w3;
        height: $h3;
        font-size: $w3;
      }
    }
    #mobileBtn{
      position: fixed;
      top: 20px;
      right: 20px;
      border: none;
      font-size: $w3;
      i{
        color: $bgAndFont;
        font-size: $w5;
      }
    }
  }


  @media screen and (min-width: 768px) {
    header {
      .mobile-icons-container{
        display: none;
      }
      .desktop-nav {
        @include flexrow;
        justify-content: space-around;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 10vh;
        background: $headerBg;
        .logo,
        .menu {
          display: block;
        }
        img {
          width: $w3 * 2;
          height: auto;
          padding: 0 $w1;
        }
        .menu {
          @include flexrow;
          li {
            list-style: none;
            text-decoration: none;
            a {
              padding-right: 20px;
              color: $bgAndFont;
              &:hover {
                color: $highlightColor;
              }
            }
          }
        }
        .iconsContainer {
          @include flexrow;
          justify-content: center;
          .icons {
            margin: 0 5px;
            a {
              font-size: $w1 + 0.2;
              color: $bgAndFont;
              &:hover {
                color: $highlightColor;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
    }
  }
}


